<script>
import {onMounted, ref} from 'vue'
import {useQuasar} from 'quasar'
import {useUserStore} from '../store/index.js'
import {useRoute} from "vue-router";
import api from "../api.js";

const columns = [
  {name: 'name', align: 'left', label: 'Название', field: 'name', sortable: true, style: 'font-weight: bold'},
  {
    name: 'description',
    align: 'left',
    label: 'Описание',
    field: 'description',
    sortable: true,
    style: 'font-weight: bold'
  },
  {name: 'status', align: 'center', label: 'Результат', field: 'status', sortable: true, style: 'font-weight: bold'}
]

export default {
  setup() {
    const $q = useQuasar()
    const store = useUserStore();
    const auth = store.getIsLogged
    const api_url = import.meta.env.VITE_API_URL
    const tableRef = ref()
    const rows = ref([])
    const route = useRoute()
    const loading = ref(false)
    const isImgDialogOpened = ref(false)
    const file = ref('')
    const pagination = ref({
      sortBy: 'name',
      descending: false,
      page: 1,
      rowsPerPage: 3,
      rowsNumber: 10
    })

    onMounted(() => {
      tableRef.value.requestServerInteraction()
      const webapp = window.Telegram.WebApp
      webapp.ready()
      if (!webapp.isClosingConfirmationEnabled) {
        webapp.enableClosingConfirmation()
      }
    })

    function translateStatus(status) {
      if (status === 'UNCOMPLETED') {
        return 'Не выполнено'
      } else if (status === 'UNREACHABLE') {
        return 'Не может быть выполнено'
      } else if (status === 'COMPLETED') {
        return 'Выполнено';
      } else if (status === 'Не выполнено') {
        return 'UNCOMPLETED'
      } else if (status === 'Не может быть выполнено') {
        return 'UNREACHABLE'
      } else if (status === 'Выполнено') {
        return 'COMPLETED'
      }
    }

    async function fetchData(page, rowsPerPage, sortBy, descending) {
      await api.get(`${api_url}/api/v1.0/task/find/all?page=${page}&size=${rowsPerPage}&sortBy=${sortBy}&isDescending=${descending}&checklistId=${route.params.id}`)
          .then(response => {
            rows.value.splice(0, rows.value.length, ...response.data.content)
            pagination.value.page = page
            pagination.value.rowsPerPage = rowsPerPage
            pagination.value.sortBy = sortBy
            pagination.value.descending = descending
            pagination.value.rowsNumber = response.data.totalElements
            loading.value = false
          })
    }

    function onRequest(props) {
      const {page, rowsPerPage, sortBy, descending} = props.pagination

      loading.value = true

      fetchData(page - 1, rowsPerPage, sortBy, descending);
    }

    function convertToImage(data) {
      return 'data:image/jpg;base64,' + data;
    }

    function openImgDialog(image) {
      if (image) {
        file.value = convertToImage(image)
        isImgDialogOpened.value = true
      }
    }

    return {
      columns,
      tableRef,
      rows,
      loading,
      pagination,
      translateStatus,
      onRequest,
      convertToImage,
      openImgDialog,
      isImgDialogOpened,
      file
    }
  },
}
</script>

<template>
  <q-page>
    <div class="q-pa-md">
      <q-table
          flat bordered
          ref="tableRef"
          title="Задачи"
          :rows="rows"
          :columns="columns"
          table-header-class="text-weight-medium"
          row-key="id"
          grid
          grid-header
          v-model:pagination="pagination"
          :loading="loading"
          binary-state-sort
          :rows-per-page-options="[3, 5, 7, 10, 20]"
          rows-per-page-label="Чек-листов на странице"
          @request="onRequest"
      >
        <!--        <template v-slot:body='props'>-->
        <!--          <q-tr-->
        <!--              :props="props"-->
        <!--          >-->
        <!--            <q-td v-for='column in props.cols' :key='column.name' :props="props">-->
        <!--              <div v-if="column.name === 'status'">-->
        <!--                {{ translateStatus(column.value) }}-->
        <!--              </div>-->
        <!--              <q-img v-else-if="column.name === 'file'"-->
        <!--                     :src="convertToImage(column.value)"-->
        <!--                     spinner-color="white"-->
        <!--                     style="height: 50px; max-width: 90px"-->
        <!--                     @click="openImgDialog(column.value)"/>-->
        <!--              <div v-else>-->
        <!--                {{ column.value }}-->
        <!--              </div>-->
        <!--            </q-td>-->
        <!--          </q-tr>-->
        <!--        </template>-->
        <template v-slot:item="props">
          <div class="q-pa-xs col-xs-12 col-sm-8 col-md-4">
            <q-card>
              <q-card-section>
                <div class="text-h6">{{ props.row.name }}</div>
                <div class="text-subtitle2">{{ props.row.description }}</div>
                <div class="row">
                  <div class="col self-start">Результат:</div>
                  <div class="col text-right">{{ translateStatus(props.row.status) }}</div>
                </div>
                <div class="row">
                  <div class="col self-start">Доп. информация:</div>
                  <div class="col text-right">{{ props.row.comment }}</div>
                </div>
                <div class="row">
                  <div class="col self-start">Фото</div>
                  <div class="col text-right">
                    <q-img
                        :src="convertToImage(props.row.file)"
                        spinner-color="white"
                        style="height: 50px; max-width: 90px"
                        @click="openImgDialog(props.row.file)"/>
                  </div>
                </div>
              </q-card-section>
            </q-card>
          </div>
        </template>
      </q-table>
      <q-dialog v-model="isImgDialogOpened" transition-show="scale" transition-hide="scale">
        <q-card flat bordered>
          <img
              :src="file"
              alt="some image"
          />
        </q-card>
      </q-dialog>
    </div>
  </q-page>
</template>
