<script>
import {onMounted, ref, watch} from 'vue'
import {useQuasar} from 'quasar'
import {useUserStore} from '../store/index.js'
import api from "../api.js";

const columns = [
  {name: 'name', align: 'left', label: 'Название', field: 'name', sortable: true},
  {name: 'createdAt', align: 'center', label: 'Начало', field: 'createdAt', sortable: true},
  {name: 'endedAt', align: 'center', label: 'Завершение', field: 'endedAt', sortable: true}
]

export default {
  setup() {
    const $q = useQuasar()
    const store = useUserStore();
    const auth = store.getIsLogged
    const api_url = import.meta.env.VITE_API_URL
    const tableRef = ref()
    const rows = ref([])
    const currentDay = new Date(2024, 5, 2)
    const lastDay = new Date().toISOString().split('T')[0]
    const createdDate = ref(currentDay.toISOString().split('T')[0])
    const endedDate = ref(lastDay)
    const loading = ref(false)
    const isDisabled = !JSON.parse(localStorage.getItem('authorization'))?.roles.includes("ROLE_OWNER")
    const pagination = ref({
      sortBy: 'name',
      descending: false,
      page: 1,
      rowsPerPage: 3,
      rowsNumber: 10
    })

    onMounted(() => {
      tableRef.value.requestServerInteraction()
      const webapp = window.Telegram.WebApp
      webapp.ready()
      if (!webapp.isClosingConfirmationEnabled) {
        webapp.enableClosingConfirmation()
      }
    })

    watch(createdDate, newVal => {
      fetchData(pagination.value.page, pagination.value.rowsPerPage, pagination.value.sortBy, pagination.value.descending, newVal, endedDate.value)
    })

    watch(endedDate, newVal => {
      fetchData(pagination.value.page, pagination.value.rowsPerPage, pagination.value.sortBy, pagination.value.descending, createdDate.value, newVal)
    })

    async function fetchData(page, rowsPerPage, sortBy, descending, createdDate, endedDate) {
      await api.get(`${api_url}/api/v1.0/checklist/find/all?page=${page}&size=${rowsPerPage}&sortBy=${sortBy}&isDescending=${descending}&createdDate=${createdDate}&endedDate=${endedDate}`)
          .then(response => {
            calculateProgress(response.data.content)
            formatDate(response.data.content)
            rows.value.splice(0, rows.value.length, ...response.data.content)
            pagination.value.page = page
            pagination.value.rowsPerPage = rowsPerPage
            pagination.value.sortBy = sortBy
            pagination.value.descending = descending
            pagination.value.rowsNumber = response.data.totalElements
            loading.value = false
          })
    }

    function onRequest(props) {
      const {page, rowsPerPage, sortBy, descending} = props.pagination

      loading.value = true

      fetchData(page - 1, rowsPerPage, sortBy, descending, createdDate.value, endedDate.value);
    }

    function calculateProgress(content) {
      let allTasks = 0
      let completedTasks = 0
      content.forEach(c => {
        c.tasks.forEach(task => {
          if (task.status === 'COMPLETED') {
            completedTasks++
          }
        })
        allTasks = c.tasks.length
        c.progress = allTasks === 0 ? '0%' : (completedTasks / allTasks) * 100 + '%'
        allTasks = 0
        completedTasks = 0
      })
    }

    function formatDate(content) {
      content.forEach(c => {
        c.createdAt = format(c.createdAt)
        c.endedAt = format(c.endedAt)
      })
    }

    function format(date) {
      if (date) {
        const dateNumbers = date.split('-');
        return `${dateNumbers[2]}.${dateNumbers[1]}.${dateNumbers[0]}`
      } else {
        return 'Еще в работе'
      }
    }

    async function sendReport(id) {
      await api.get(`${api_url}/api/v1.0/report/find/${id}`)
          .then(() => {
            $q.notify({
              color: 'green-4',
              textColor: 'white',
              icon: 'cloud_done',
              message: 'Отчет успешно отправлен, проверь Telegram'
            })
          })
          .catch(error => console.log(error))
    }

    return {
      columns,
      tableRef,
      rows,
      createdDate,
      endedDate,
      loading,
      pagination,
      isDisabled,
      onRequest,
      sendReport
    }
  },
}
</script>

<template>
  <q-page>
    <div class="q-pa-md">
      <q-table
          flat bordered
          ref="tableRef"
          title="Пройденные чек-листы"
          :rows="rows"
          :columns="columns"
          table-header-class="text-weight-medium"
          row-key="id"
          grid
          grid-header
          v-model:pagination="pagination"
          :loading="loading"
          binary-state-sort
          :rows-per-page-options="[3, 5, 7, 10, 20]"
          rows-per-page-label="Чек-листов на странице"
          @request="onRequest"
      >
        <template v-slot:top-right>
          <q-input type="date" dense debounce="300" v-model="createdDate" class="q-px-lg" label="Дата начала с"/>
          <q-input type="date" dense debounce="300" v-model="endedDate" label="по"/>
        </template>
        <template v-slot:item="props">
          <div class="q-pa-xs col-xs-12 col-sm-8 col-md-4">
            <q-card>
              <q-card-section>
                <div class="text-h6">{{ props.row.name }}</div>
                <div class="text-subtitle2">{{ props.row.description }}</div>
                <div class="row">
                  <div class="col self-start">Начало:</div>
                  <div class="col text-right">{{ props.row.createdAt }}</div>
                </div>
                <div class="row">
                  <div class="col self-start">Завершение:</div>
                  <div class="col text-right">{{ props.row.endedAt }}</div>
                </div>
                <div class="row">
                  <div class="col self-start">Прогресс:</div>
                  <div class="col text-right">{{ props.row.progress }}</div>
                </div>
              </q-card-section>

              <q-separator/>
              <q-card-actions>
                <q-btn glossy no-caps color="primary" icon="search" :to="'/checklist-details/' + props.row.id">Подробнее</q-btn>
                <q-btn glossy no-caps :disable="isDisabled" color="primary" icon="ios_share" @click="sendReport(props.row.id)">Скачать отчет</q-btn>
              </q-card-actions>
            </q-card>
          </div>
        </template>
      </q-table>
    </div>
  </q-page>
</template>
