<script>
import {onMounted, ref} from 'vue'
import axios from "axios";
import { routers } from '../routes.js'
import {useUserStore} from '../store/index.js'

export default {
  name: 'Login',

  setup() {
    const phoneNumber = ref('')
    const password = ref('')
    const isDanger = ref(false)
    const api_url = import.meta.env.VITE_API_URL
    const store = useUserStore();

    function login() {
      if (phoneNumber.value && password.value) {
        axios.post(`${api_url}/api/v1.0/auth/login`, {
          phoneNumber: phoneNumber.value,
          password: password.value
        })
            .then(response => {
              localStorage.setItem('authorization', JSON.stringify(response.data))
              store.logIn()
              setTimeout(() => (routers.push('/'), 1500))
              phoneNumber.value = ''
              password.value = ''
            })
            .catch(() => {
              store.logOut()
              isDanger.value = true
              phoneNumber.value = ''
              password.value = ''
              setTimeout(() => (isDanger.value = false), 10000);
            })
      }
    }

    onMounted(() => {
      const webapp = window.Telegram.WebApp
      webapp.ready()
      if (!webapp.isClosingConfirmationEnabled) {
        webapp.enableClosingConfirmation()
      }
    })

    return {
      phoneNumber,
      password,
      isDanger,
      login
    }
  }
}
</script>

<template>
  <q-page class="flex flex-center">
    <q-card class="q-pa-md shadow-2 my_card" bordered>
      <q-card-section class="text-center">
        <div class="text-h5 text-weight-bold">Авторизация</div>
      </q-card-section>
      <q-card-section>
        <q-input dense outlined v-model="phoneNumber" label="Номер телефона"></q-input>
        <q-input dense outlined class="q-mt-md" v-model="password" type="password" label="Пароль"></q-input>
      </q-card-section>
      <q-card-section>
        <q-btn color="primary" rounded size="md" label="Войти" @click.prevent="login" no-caps
               class="full-width"></q-btn>
      </q-card-section>
      <q-banner inline-actions class="text-white bg-red" v-if="isDanger">
        Ошибка авторизации. Попробуйте еще раз
      </q-banner>
    </q-card>
  </q-page>
</template>

<style scoped>
.my_card {
  width: 25rem;
  border-radius: 8px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
</style>