<script>
import {ref} from 'vue'
import {useUserStore} from "../store/index.js";
import { useQuasar } from 'quasar'

export default {
  name: 'MyLayout',

  setup() {
    const $q = useQuasar()
    const leftDrawerOpen = ref(false)
    const store = useUserStore();

    function toggleLeftDrawer() {
      leftDrawerOpen.value = !leftDrawerOpen.value
    }

    function toggleDarkMode() {
      const isDarkMode = store.toggleDarkMode();
      $q.dark.set(isDarkMode)
    }

    return {
      leftDrawerOpen,
      toggleLeftDrawer,
      toggleDarkMode
    }
  }
}
</script>

<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-cyan-8">
      <q-toolbar>
        <q-btn
            flat
            dense
            round
            @click="toggleLeftDrawer"
            aria-label="Menu"
            icon="menu"
        />

        <q-toolbar-title>
          Сервис Инспектор
        </q-toolbar-title>
        <q-btn round size="sm" flat no-caps icon="dark_mode" @click="toggleDarkMode"/>
      </q-toolbar>
    </q-header>

    <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        bordered
    >
      <q-list>
        <q-item-label header>Разделы</q-item-label>
        <q-item clickable rel="noopener" to='/'>
          <q-item-section avatar>
            <q-icon name="dashboard"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Чек-листы</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable rel="noopener" to="/checklist-done">
          <q-item-section avatar>
            <q-icon name="history"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Пройденные чек-листы</q-item-label>
          </q-item-section>
        </q-item>
        <q-item clickable rel="noopener" to="/tasks">
          <q-item-section avatar>
            <q-icon name="check_box"/>
          </q-item-section>
          <q-item-section>
            <q-item-label>Задачи</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<style scoped>

</style>